
@import "tailwindcss";

@theme {
  --color-moto-blue: #1e40af;
  --color-moto-dark: #111827;
  --font-display: "Segoe UI", system-ui, sans-serif;
}

@layer base {
  body {
    /* Tailwind v4 ya pone margin: 0 por defecto, pero puedes añadir más cosas aquí */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }
}